<template>
  <h1 class="bgm-gray p-b-20 p-t-20 c-white text-center">
  	<span class="p-b-5 text-uppercase">House in clonskeagh</span>
	</h1>
  <section class="container-fluid p-20">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-push-1">
        <div class="card">
          <div class="card-body card-padding">
            <div class="lightbox row">
              <div v-for="slide in items" :data-src="slide.src" class="slide col-xs-6 col-sm-4 m-b-20">
                <div class="lightbox-item">
                  <img :src="slide.src" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import $ from 'jquery.2'
import 'lightgallery'
import 'lightgallery/dist/css/lightgallery.css'
export default {
  data: function() {
    return {
      items: [{
        src: 'http://res.cloudinary.com/hekstr/image/upload/v1468526319/house-in-clonskeagh-1_exz2pp.jpg'
      }, {
        src: 'http://res.cloudinary.com/hekstr/image/upload/v1468526319/house-in-clonskeagh-2_eq2aci.jpg'
      }, {
        src: 'http://res.cloudinary.com/hekstr/image/upload/v1468526320/house-in-clonskeagh-3_nzq0fb.jpg'
      }, {
        src: 'http://res.cloudinary.com/hekstr/image/upload/v1468526320/house-in-clonskeagh-4_db6n7c.jpg'
      }, {
        src: 'http://res.cloudinary.com/hekstr/image/upload/v1468526320/house-in-clonskeagh-5_hjjcbt.jpg'
      }, {
        src: 'http://res.cloudinary.com/hekstr/image/upload/v1468526320/house-in-clonskeagh-6_oyioab.jpg'
      }, {
        src: 'http://res.cloudinary.com/hekstr/image/upload/v1468526321/house-in-clonskeagh-7_bmbkcq.jpg'
      }]
    }
  },
  ready() {
    $('.lightbox').lightGallery({
      thumbnail: true
    })
  }
}
</script>
<style lang="less">
@import '../../assets/less/inc/variables';
.slide {
  cursor: pointer;
}

.lg-outer.lg-visible {
  background: rgba(255, 255, 255, 0.95)!important;
}

.lg-toolbar.group {
  background: @m-gray!important;
}

.lg-toolbar .lg-icon {
  color: #d8d8d8!important;
}

.lg-actions {
  .lg-next,
  .lg-prev {
    background: @m-gray!important;
    color: #d8d8d8!important;
  }
}

.lg-outer .lg-toogle-thumb {
  background: @m-gray!important;
  color: #d8d8d8!important;
}

#lg-counter {
  color: #fff!important;
}

.lg-outer .lg-thumb-outer {
  background: @m-gray!important;
}

.lg-outer .lg-thumb-item.active {
  border-color: #113257!important;
}
</style>
