<template>
  <h1 class="bgm-gray p-b-20 p-t-20 c-white text-center">
  	<span class="p-b-5 text-uppercase">Victorian Doors Restoration</span>
	</h1>
  <section class="container-fluid p-20">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-push-2">
        <p class="m-b-15">
          Victorian Doors Restoring is very challenging, and time consuming activity. Our aim is to retain as much of any original part as possible. To obtain the best results we are using Festool Rotex Sanders.
        </p>
        <div class="text-center">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/7067LXNwNAU" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="m-t-15">We are trying to keep history alive, that’s why restoring one door might take up to two weeks, but the result is our proud and our client’s satisfaction is priceless for us.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-push-1">
        <div class="card">
          <div class="card-body card-padding">
            <div class="lightbox row">
              <div v-for="slide in items" :data-src="slide.src" class="slide col-xs-6 col-sm-4 m-b-20">
                <div class="lightbox-item">
                  <img :src="slide.src" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import $ from 'jquery.2'
import 'lightgallery'
import 'lightgallery/dist/css/lightgallery.css'
export default {
  data: function() {
    return {
      items: [{
        src: 'http://res.cloudinary.com/hekstr/image/upload/v1468528304/victorian-doors-restoration-1_yaxsvq.jpg'
      }, {
        src: 'http://res.cloudinary.com/hekstr/image/upload/v1468528304/victorian-doors-restoration-2_yfytd1.jpg'
      }, {
        src: 'http://res.cloudinary.com/hekstr/image/upload/v1468528304/victorian-doors-restoration-3_bjhkmp.jpg'
      }]
    }
  },
  ready() {
    $('.lightbox').lightGallery({
      thumbnail: true
    })
  }
}
</script>
<style lang="less">
</style>
