*, button, input, i, a {
    -webkit-font-smoothing: antialiased;
}

button {
	outline: none;
}

*,
*:active,
*:hover {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

html {
    overflow-x: ~"hidden\0/";
    -ms-overflow-style: none;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: relative;
}

audio, video {
    outline: none;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 20px;
}

small {
    font-size: 11px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 0;
    padding: 0;
    small {
        font-size: 12px;
    }
}
