<template>
  <div class="contact-details-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="footer-bean">
            <ul class="contact-details list-unstyled">
              <li>
                <a href="tel:+34531231313">
                  <i class="zmdi zmdi-phone"></i> +45 312 313 13
                </a>
              </li>
              <li>
                <a href="mailto:office@esco.construction">
                  <i class="zmdi zmdi-email"></i> office@esco.construction
                </a>
              </li>
              <li>
                <i class="zmdi zmdi-time"></i> Mon - Fri: 08.00 - 17.00
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
export default {

}
</script>
<style scoped lang="less">
@import '../assets/less/inc/variables';
.contact-details-container {
  background-color: @m-gray;
}

#footer-bean {
  transition: all .5s;
}

.contact-details {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  li {
    padding: 50px 15px;
    color: #fff;
  }
  i {
    margin-right: 10px;
  }
  a {
    color: #fff;
  }
}

@media (min-width: @screen-sm-min) {
  .contact-details {
    flex-direction: row;
  }
}

@media (min-width: @screen-md-min) {
  .contact-details {
    font-size: 24px;
    li {
      padding: 50px 20px;
    }
  }
}
</style>
