<template>
  <div class="contact-details-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="header-bean" :class="{ 'visible' : headerBean }">
            <ul class="contact-details list-unstyled">
              <li>
                <a href="tel:+34531231313">
                  <i class="zmdi zmdi-phone"></i> +45 312 313 13
                </a>
              </li>
              <li>
                <a href="mailto:office@esco.construction">
                  <i class="zmdi zmdi-email"></i> office@esco.construction
                </a>
              </li>
              <li>
                <i class="zmdi zmdi-time"></i> Mon - Fri: 08.00 - 17.00
              </li>
            </ul>
          </div>
          <div id="header-been-toggle" class="text-center p-10">
            <button @click="toggleHeaderBean" class="btn bgm-orange btn-float waves-effect">
              <i class="zmdi zmdi-chevron-down" :class="{ 'zmdi-chevron-up' : headerBean }"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: function() {
    return {
      headerBean: false
    }
  },
  methods: {
    toggleHeaderBean() {
      this.headerBean = !this.headerBean
    }
  }
}
</script>
<style scoped lang="less">
@import '../assets/less/inc/variables';
.contact-details-container {
  background-color: @m-gray;
}

#header-bean {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all .5s;
  &.visible {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
}

.btn-float {
  width: 30px;
  height: 30px;
  line-height: 25px !important;
  padding: 4px 6px;
  i {
    font-size: 23px;
  }
}

.contact-details {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  li {
    padding: 15px;
    color: #fff;
  }
  i {
    margin-right: 10px;
  }
  a{
    color: #fff;
  }
}

@media (min-width: @screen-sm-min) {
  .contact-details {
    flex-direction: row;
    border-left: 1px solid #eee;
    li {
      border-right: 1px solid #eee;
    }    
  }
}

@media (min-width: @screen-sm-min) {
  #header-bean {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
  #header-been-toggle {
    display: none;
  }
  .btn-float {
    width: 50px;
    height: 50px;
    line-height: 45px !important;
    padding: 6px 12px;
    i {
      font-size: 40px;
    }
  }
}
</style>
