<template>
  <section class="container-fluid m-t-25 m-b-25">
    <div class="row m-b-25">
      <div class="col-xs-12 col-sm-8 col-sm-push-2 text-center">
        <h2 class=" text-center">
          <span class="p-b-5 text-uppercase">We work with</span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-2 text-center">
        <ul id="work-with">
          <li v-for="item in items">
            <img :src="item.src">
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>
<script>
import $ from 'jquery.2'
import 'lightslider'
import 'lightslider/dist/css/lightslider.css'
export default {
  data: function() {
    return {
      items: [{
        name: 'titan',
        src: 'http://res.cloudinary.com/hekstr/image/upload/v1468506932/titan-logo_yvhgi4.png'
      }, {
        name: 'astor',
        src: 'http://res.cloudinary.com/hekstr/image/upload/v1468506932/astor-logo_fkaejn.png'
      }, {
        name: 'royal',
        src: 'http://res.cloudinary.com/hekstr/image/upload/v1468506932/royal-logo_e8sfqt.png'
      }, {
        name: 'navigator',
        src: 'http://res.cloudinary.com/hekstr/image/upload/v1468506932/navigator-logo_blaafb.png'
      }]
    }
  },
  ready() {
    this.initializeSlider()
  },
  methods: {
    initializeSlider() {
      $(document).ready(function() {
        $('#work-with').lightSlider({
          auto: true,
          loop: true,
          pause: 3000,
          responsive: [{
            breakpoint: 1200,
            settings: {
              item: 5,
              slideMove: 1,
              slideMargin: 6
            }
          }, {
            breakpoint: 800,
            settings: {
              item: 3,
              slideMove: 1,
              slideMargin: 6
            }
          }, {
            breakpoint: 480,
            settings: {
              item: 2,
              slideMove: 1
            }
          }]
        })
      })
    }
  }
}
</script>
<style lang="less" scoped>
@import '../assets/less/inc/variables';
h2 span {
  border-bottom: 2px solid @m-gray;
}

</style>
