<template>
  <section class="container-fluid testimonials m-t-25">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-2 text-center">
        <h2 class=" text-center">
          <span class="p-b-5 text-uppercase c-white">Testimonials</span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-2 text-center">
        <ul id="light-slider">
          <li v-for="item in items">
            <div class="p-25">
              <h3 class="card-header c-white">
                {{item.name}}
              </h3>
              <div class="card-body card-padding c-white">
                <p>{{item.body}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>
<script>
import $ from 'jquery.2'
import 'lightslider'
import 'lightslider/dist/css/lightslider.css'
export default {
  data: function() {
    return {
      items: [{
        name: 'Michel Smith',
        body: '"We would like to thank Renovate Company for an outstanding effort on this recently completed project located in the Moscow. The project involved a very aggressive schedule and it was completed on time. We would certainly like to use their professional services again."'
      }, {
        name: 'Michel Smith',
        body: '"We would like to thank Renovate Company for an outstanding effort on this recently completed project located in the Moscow. The project involved a very aggressive schedule and it was completed on time. We would certainly like to use their professional services again."'
      }, {
        name: 'Michel Smith',
        body: '"We would like to thank Renovate Company for an outstanding effort on this recently completed project located in the Moscow. The project involved a very aggressive schedule and it was completed on time. We would certainly like to use their professional services again."'
      }]
    }
  },
  ready() {
    this.initializeSlider()
  },
  methods: {
    initializeSlider() {
      $(document).ready(function() {
        $('#light-slider').lightSlider({
          item: 1,
          auto: true,
          loop: true,
          pause: 5000,
          speed: 1000,
          mode: 'slide',
          useCSS: true,
          cssEasing: 'fade' // 'cubic-bezier(0.25, 0, 0.25, 1)',//
        })
      })
    }
  }
}
</script>
<style lang="less" scoped>
@import '../assets/less/inc/variables';
.testimonials {
  background-image: url('http://res.cloudinary.com/hekstr/image/upload/v1468416471/hp-parallax_l7uph0.jpg');
  background-position: center; 
  padding-top: 50px;
  padding-bottom: 50px;
  // background: rgba(38, 38, 40, 0.7);
}

h2 span {
  border-bottom: 2px solid @m-gray;
}
p{
  font-size: 20px;
}
.card-body.card-padding{
  padding: 25px 50px;
}
</style>
