<template>
  <section id="services" class="container-fluid p-20">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-2 text-center">
        <h2 class="m-b-25 m-t-20 text-center">
          <span class="p-b-5 text-uppercase">Our services</span>
        </h2>
        <p class="m-t-15 m-b-15">
          With over 9 years combined experience in the refurbishment & outfitting industry our “in house & out house” knowledge bank is considerable and broad enough to enable us to take on major or complex projects across the Dublin so our clients can rest assured that they have assigned their corporate&nbsp;&&nbsp;personal liability to a competent company.
        </p>
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-xs-12 col-lg-10 col-lg-push-1">
        <div class="row list">
          <div class="col-xs-12 col-sm-4 col-md-4 list-item wow fadeInUp" v-for="item in items">
            <div class="card blog-post">
              <div class="bp-header">
                <img :src="item.img" alt="">
                <h2 class="bp-title">{{item.title}}</h2>
              </div>
              <div class="p-20">
                {{item.body}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data: function() {
    return {
      items: [{
        img: 'http://res.cloudinary.com/hekstr/image/upload/v1468351780/interior-renovation_swzpfg.jpg',
        title: 'Interior renovation',
        body: 'We can help you bring new life to existing rooms and develop unused spaces.'
      }, {
        img: 'http://res.cloudinary.com/hekstr/image/upload/v1468351780/tiling-and-painting_ixmvjq.jpg',
        title: 'Tiling and painting',
        body: 'We offer quality tiling and painting solutions for interior and exterior.'
      }, {
        img: 'http://res.cloudinary.com/hekstr/image/upload/v1468351780/design-and-build_kxfny7.jpg',
        title: 'Wall insulation',
        body: 'From initial design and project specification to archieving a high end finish.'
      }]
    }
  },
  created() {
    console.log('services')
  }
}
</script>
<style lang="less" scoped>
@import '../assets/less/inc/variables';
.list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
}

h2 span {
  border-bottom: 2px solid @m-gray;
}

p {
  font-size: 24px;
}

.card {
  width: 100%;
}


/*
 * Blog Post
 */

.blog-post {
  .bp-header {
    position: relative;
    & > img {
      width: 100%;
    }
    .bp-title {
      background: @m-gray;
      width: 100%;
      padding: 20px;
      color: #FFF;
      display: block;
      & > h2 {
        color: #FFF;
        font-weight: 400;
        margin: 0 0 2px;
        line-height: 100%;
        font-size: 21px;
      }
    }
  }
}
</style>
