<template>
  <intro></intro>
  <homepage-services></homepage-services>
  <homepage-about></homepage-about>
  <homepage-projects></homepage-projects>
  <homepage-testimonials></homepage-testimonials>
  <homepage-work-with></homepage-work-with>
</template>
<script>
import Intro from './Intro'
import HomepageServices from './HomepageServices'
import HomepageProjects from './HomepageProjects'
import HomepageAbout from './HomepageAbout'
import HomepageTestimonials from './HomepageTestimonials'
import HomepageWorkWith from './HomepageWorkWith'
export default {
  components: {
    Intro,
    HomepageServices,
    HomepageProjects,
    HomepageAbout,
    HomepageTestimonials,
    HomepageWorkWith
  }
}
</script>
