<template>
  <section id="about" class="container-fluid p-20">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-2 text-center">
        <h2 class="m-b-20 m-t-20 text-center">
          <span class="p-b-5 text-uppercase">About us</span>
        </h2>
        <p class="m-t-15 m-b-15">
          Our company is based on the belief that our customers' needs are of the utmost importance. Our entire team is committed to meeting those needs. As a result, a high percentage of our business is from repeat customers and referrals.
        </p>
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-xs-12 col-lg-10 col-lg-push-1">
        <div class="row list">
          <div class="col-xs-12 col-md-6 wow fadeInLeft text-center">
            <img class="radius" src="http://res.cloudinary.com/hekstr/image/upload/v1468401644/hp-about_njc8fc.jpg">
          </div>
          <div class="col-xs-12 col-md-6 wow fadeInRight">
            <ul class="featured-list list-unstyled">
              <li v-for="item in items">
                <i class="flaticon" :class="item.icon"></i>
                <h4 class="m-b-10 f-700">{{item.title}}</h4>
                <p>{{item.body}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data: function() {
    return {
      items: [{
        icon: 'flaticon-drill',
        title: 'Over 9 years experience',
        body: 'We combine quality workmanship, superior knowledge and low prices to provide you with service unmatched by our competitors.'
      }, {
        icon: 'flaticon-paintbrush',
        title: 'Best materials',
        body: 'We have the experience, personel and resources to make the project run smoothly. We can ensure a job is done on time.'
      }, {
        icon: 'flaticon-fashion',
        title: 'Professional standards',
        body: 'Work with us involve a carefully planned series of steps, centered around a schedule we stick to and daily communication.'
      }]
    }
  }
}
</script>
<style lang="less" scoped>
@import '../assets/less/inc/variables';
h2 span {
  border-bottom: 2px solid @m-gray;
}
p{
  font-size: 20px;
}
.radius {
  border-radius: 50%;
}

.featured-list {
  li {
    margin-top: 35px;
    float: left;
    width: 100%;
  }
}

.flaticon:before {
  float: left;
  height: auto;
  font-size: 48px;
  margin-right: 30px;
  padding: 19px;
  color: @m-gray;
}
</style>
