<template>
  <section class="container-fluid p-20">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-2 text-center">
        <h2 class="m-b-20 m-t-20 text-center">
          <span class="p-b-5 text-uppercase">Recent projects</span>
        </h2>
        <p class="m-t-15 m-b-15">
          Here are a few of many projects we have completed for our customers. We provide a professional service which includes consultation, free estimate, design, supply of materials and installation.
        </p>
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-xs-12 col-lg-10 col-lg-push-1">
        <div class="row list">
          <div class="col-xs-12 col-sm-6 col-md-3 list-item wow fadeInUp" v-for="item in items">
            <a v-link="{ name: item.slug }" class="card blog-post">
              <div class="bp-header">
                <img :src="item.img" alt="">
                <h2 class="bp-title text-uppercase">{{item.title}}</h2>
              </div>
              <div class="p-20">
                {{item.body}}
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data: function() {
    return {
      items: [{
        img: 'http://res.cloudinary.com/hekstr/image/upload/v1468401071/design-and-build_hdl4nl.jpg',
        title: 'House in Clonskeagh',
        body: 'We can help you bring new life to existing rooms and develop unused spaces.',
        slug: 'house-in-clonskeagh'
      }, {
        img: 'http://res.cloudinary.com/hekstr/image/upload/v1468401071/garden-renovation_lhlltn.jpg',
        title: 'Victorian Doors',
        body: 'We offer quality tiling and painting solutions for interior and exterior.',
        slug: 'victorian-doors'
      }, {
        img: 'http://res.cloudinary.com/hekstr/image/upload/v1468401071/interior-renovation_gnimep.jpg',
        title: 'Wallpaper',
        body: 'From initial design and project specification to archieving a high end finish.',
        slug: 'wallpaper'
      }, {
        img: 'http://res.cloudinary.com/hekstr/image/upload/v1468401071/solar-systems_z3ushz.jpg',
        title: 'Solar systems',
        body: 'From initial design and project specification to archieving a high end finish.'
      }]
    }
  }
}
</script>
<style lang="less" scoped>
@import '../assets/less/inc/variables';
.list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
}

.card {
  width: 100%;
}

h2 span {
  border-bottom: 2px solid @m-gray;
}

p {
  font-size: 20px;
}

a {
  color: #5E5E5E;
}


/*
 * Blog Post
 */

.blog-post {
  .bp-header {
    position: relative;
    & > img {
      width: 100%;
    }
    .bp-title {
      background: @m-gray;
      width: 100%;
      padding: 20px;
      color: #FFF;
      display: block;
      & > h2 {
        color: #FFF;
        font-weight: 400;
        margin: 0 0 2px;
        line-height: 100%;
        font-size: 21px;
      }
    }
  }
}
</style>
