<template>
  <div id="intro">
    <img src="http://res.cloudinary.com/hekstr/image/upload/v1453231827/image_01_vlesnz.jpg">
    <div class="card content-box wow fadeInDown">
      <div class="card-header ch-alt clearfix">
        <h2 class="c-white">
          PROFESSIONAL TILING AND PAINTING SERVICES
        </h2>
      </div>
      <div class="card-body card-padding c-white">
        <p>We have the experience, personel and resources to make the project run smoothly. We can ensure a job is done on time.</p>        
      </div>
    </div>
  </div>
</template>
<script>
export default {
  created() {
    console.log('projects')
  }
}
</script>
<style lang="less" scoped>
@import '../assets/less/inc/variables';
#intro {
  position: relative;
}

.content-box {
  white-space: normal;
  background: @m-gray;
  .card-header{
    background: transparent;
    border-bottom: 1px solid #fff;
  }
}
@media (min-width: @screen-md-min) {
  .content-box {
    max-width: 500px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    background: rgba(38, 38, 40, 0.7);
    .card-header{
      background: transparent;
      border-bottom: 1px solid @m-gray;
    }
  }
}
</style>
