<template>
  <header class="header" :class="{ 'showMobileMenu' : showMobileMenu }">
    <div class="container">
      <div class="logo pull-left">
        <a v-link="{ name: 'home' }">
          <img src="/static/esco-construction-logo.png" alt="">
        </a>
      </div>
      <button type="button" id="menu-toggle" @click="toggleMobileMenu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <nav class="navbar">
        <ul class="navigation clearfix">
          <li @click="hideMobileMenu">
            <a v-link="{ name: 'home', activeClass: 'active' }" title="Home">Home</a>
          </li>
          <li v-link-active @click="hideMobileMenu">
            <a v-link="{ name: 'services', activeClass: 'active' }" title="Our services">Our services</a>
          </li>
          <li>
            <a v-link="{ name: 'about', activeClass: 'active' }" title="About us">About us</a>
          </li>
          <li v-link-active @click="hideMobileMenu">
            <a v-link="{ name: 'projects', activeClass: 'active' }" title="Projects">Projects</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</template>
<script>
import $ from 'jquery'
export default {
  data: function() {
    return {
      showMobileMenu: false
    }
  },
  ready() {
    this.handleScrollTop()
  },
  methods: {
    toggleMobileMenu() {
      this.showMobileMenu = !this.showMobileMenu
    },
    hideMobileMenu() {
      this.showMobileMenu = false
    },
    handleScrollTop() {
      $('a[href*="#"]').click(function() {
        if (window.location.pathname.replace(/^\//, '') === this.pathname.replace(/^\//, '') && window.location.hostname === this.hostname) {
          var $target = $(this.hash)
          $target = $target.length && $target || $('[name=' + this.hash.slice(1) + ']')
          if ($target.length) {
            var targetOffset = $target.offset().top
            $('html,body').animate({
              scrollTop: targetOffset
            }, 600)
            return false
          }
        }
      })
    }
  }
}
</script>
<style scoped lang="less">
@import '../assets/less/inc/variables';

.logo{
  margin-top: 1em;
  margin-bottom: 1em;
}

#menu-toggle {
  border: 0;
  margin: 10px 0;
  position: relative;
  float: right;
  padding: 9px 10px;
  background-color: transparent;
  border-radius: 4px;
  &:focus {
    outline: none;
    border: 0;
  }
  .icon-bar {
    z-index: 6;
    background: @m-gray;
    position: relative;
    display: block;
    border-radius: 1px;
    width: 24px;
    height: 4px;
    margin: 10px 0;
    transition: all 0.3s;
    &:before,
    &:after {
      content: '';
      display: block;
      width: 24px;
      height: 4px;
      background: @m-gray;
      position: absolute;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    &:before {
      top: -8px;
    }
    &:after {
      top: 8px;
    }
  }
}

.navbar {
  visibility: hidden;
  position: fixed;
  width: 100%;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  visibility: hidden;
  &>li {
    padding: 20px;
    display: block;
    &:hover {
      &>a {
        color: @m-gray;
      }
    }
    &>a {
      color: #fff;
      display: block;
      position: relative;
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: none;
    }
  }
  .active {
    &>a {
      color: @m-gray;
    }
  }
}

.showMobileMenu {
  .icon-bar {
    background: transparent !important;
    &:before {
      top: 0 !important;
      background: #fff !important;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:after {
      top: 0 !important;
      background: #fff !important;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .navbar {
    visibility: visible;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
  }
  .navigation {
    visibility: visible;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

@media (min-width: @screen-md-min) {
  #menu-toggle {
    display: none;
  }
  .navbar {
    position: relative;
    width: auto;
    float: right;
    border: 0;
    margin: 0;
  }
  .navigation {
    visibility: visible;
    padding: 0;
    &>li {
      padding: 30px 20px;
      float: left;
      text-align: center;
      &>a {
        color: #444;
        font-size: 18px;
        transition: all .2s ease-in;
        font-weight: 400;
      }
    }
  }
}
</style>
