<template>
  <div id="app">
    <header-bean></header-bean>
    <navigation></navigation>
    <router-view></router-view>
    <footer-bean></footer-bean>
  </div>
</template>
<script>
import HeaderBean from './components/HeaderBean'
import FooterBean from './components/FooterBean'
import Navigation from './components/Navigation'

export default {
  components: {
    HeaderBean,
    FooterBean,
    Navigation
  }
}
</script>
<style lang="less">
@import 'assets/less/app';
</style>
